# TraderTerminal – development credentials
MONGO_INITDB_ROOT_USERNAME=tradenote_example
MONGO_INITDB_ROOT_PASSWORD=examplepassword
MONGO_INITDB_DATABASE=tradenote

TRADENOTE_MONGO_URI=mongodb://tradenote_example:examplepassword@tradenote-mongo:27017/tradenote?authSource=admin

APP_ID=traderterminal_dev_example
MASTER_KEY=example_master_key 